main {
  background:  linear-gradient(to bottom, #800404 0%, #0b3a01 100%);
  display: flex;
  align-items: center;
  justify-content: center;
   font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  padding: 20px;
  text-align: center;
}
h1 {
  color: white;
 text-shadow:
    5px 5px rgb(100, 4, 4),
    10px 10px rgb(4, 87, 25),
    15px 15px rgb(42, 41, 43)
}





/* the animation */

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}
@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

/* for js */

#snow-container {  
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
}
.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: rgb(236, 231, 150);
  position: absolute;
}

/*text animation*/

.wave-text span {
    display: inline-block;
    font-size: 3rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(4) {
    animation-delay: 1.2s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

